@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(245, 246, 250,1.0);
}

sup{
    color: red;
    /* font-size: 10px; */
}

.mainHeader{
    background-color: rgba(52, 73, 94, 1.0);
}

#logo{
    font-size: 35px;
    font-weight: 800;
    font-style: oblique;
    color: rgba(0, 184, 148,1.0);
}

#logo span{
    font-weight: 700;
    color: rgba(223, 230, 233,1.0);
    font-style: normal;
}

.navigation{
    font-weight: 600;
    font-size: large;
}

.navigation .nav-item > .nav-link{
    color: rgba(223, 230, 233,1.0);
}

.navigation .nav-item > .nav-link:hover, .navigation .nav-item > .nav-link:active{
    color: rgba(0, 184, 148,1.0);
}

.navbar{
    padding: 0;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* scroll to top starts here */
.scrollToTop{
    border: none;
    font-size: 40px;
    color: rgba(0, 184, 148,1.0);
    position: fixed;
    z-index: 10;
    height: 0px;
    width: 0px;
    left: 95%;
    top: 90%;
}

.scrollToTop:focus, .scrollToTop:hover{
    outline: none;
}

/* mainInfo section starts here */
#mainInfo{
    padding-top: 1px;
}

.jumbo{
    background: linear-gradient(to bottom right, rgba(52, 73, 94,0.5), rgba(44, 62, 80,1.0)), url("./images/undraw_news_go0e.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    height: 500px;
    position: relative;
    top: 1px;
}

.heading{
    font-weight: 500;
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

.jumbotron{
    background-color: rgba(255, 255, 255,0.4);
}

#headPara{
    width: 60%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    opacity: 0.9;
}

.learn{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 184, 148,1.0);
    word-spacing: 0.6rem;
}

.readButton{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 25px;
    border: 1px solid rgba(0, 184, 148,1.0);
}

.readButton:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.readButton:focus{
    outline: none;
}

.nextPart{
    color: rgba(255, 255, 255, 0.8);
}

.nextPart:hover{
    color: rgba(0, 184, 148,1.0);
}

#plane .fa-angle-down{
    animation: fontScale 1.5s linear infinite alternate-reverse;
}

@keyframes fontScale{
    from{
        transform: scale(1.2, 1.2);
    }
    to{
        transform: scale(1.6, 1.6);
    }
}

/* services start here */
.card1, .card2{
    border: none;
    box-shadow: 5px 10px 10px 3px rgba(99, 110, 114,0.6);
    border-radius: 3px; 
}

.cardTitle{
    color: rgba(0, 184, 148,1.0);
}

.cardAbout{
    color: rgba(52, 73, 94, 1);
}

.cardImage{
    animation: expand 1.5s infinite alternate;
}

.cards{
    padding: 60px;
}

@keyframes expand{
    from{
        transform: scale3d(1, 1, 1);
    }
    to{
        transform: scale3d(1.08, 1.08, 1.08);
    }
}

.launch{
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffff;
    background-color: rgba(0, 184, 148,0.8);
}

.launch:focus{
    outline: none;
}

.launch:active{
    transform: translateY(2px);
}

[data-scroll]{
    transition: opacity 1s;
}

[data-scroll="in"]{
    opacity: 1;
}

[data-scroll="out"]{
    opacity: 0;
}


/* services end here */

/* modal 1 starts here */

.modal-title{
    color: rgba(0, 184, 148,1.0);
}

.close:focus{
    outline:none;
}

.extract, .extraction, .download{
    background-color: rgba(0, 184, 148,0.8);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: #fff;
    align-items: center;
}

.download{
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

.extract:focus, .download:focus{
    outline: none;
}

.extract:hover, .download:hover{
    background-color: rgba(0, 184, 148,1.0);
}

.extract:active, .download:active{
    transform: translateY(2px);
}

.extraction{
    display: none;
}

.extraction>span{
    margin-bottom: 2px;
}
/* model 1 ends here */

/* contact section starts here */
.contacts{
    background-color: #34495E;
    color: #fff;
    /* padding: 0.5rem; */
}

.follow i, .contribute i{
    font-size: 1.4rem;
}

.reserved{
    font-size: small;
}

#numWarning, #fieldWarning{
    font-size: 15px;
    color: #eb4d4b;
    display: none;
}

/* contact section ends here */

/* responsiveness */
@media only screen and (min-width: 1024px){
    .navigation .nav-item{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 1200px){
    .cards{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 1000px){
    .heading{
        font-size: 40px;
    }
}

@media only screen and (max-width: 800px){
    .scrollToTop{
        left: 92%;
    }
}

@media only screen and (max-width: 1000px){
    .cards{
        flex-direction: column;
    } 
    .card2{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 610px){
    .jumbo{
        height: 400px;
    }

    .jumbotron{
        background-color: rgba(255, 255, 255,0); 
        padding: 2rem 2rem;
    }

    .scrollToTop{
        left: 90%;
    }

    .contacts{
        flex-direction: column;
    }

    .contacts>div:nth-child(2){
        margin-top: 15px;
    }

}

@media only screen and (max-width: 450px){
    .scrollToTop{
        left: 88%;
    }
}





